{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="container">
    <h2>Sales</h2>

    <a href="{% url 'add_sale' %}" class="btn-primary">+ Add Sale</a>

    <table class="table">
        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Price/Unit</th>
            <th>Total</th>
            <th>Date</th>
        </tr>

        {% for s in sales %}
        <tr>
            <td>{{ s.product.name }}</td>
            <td>{{ s.quantity }}</td>
            <td>{{ s.price_per_unit }}</td>
            <td>{{ s.total_price }}</td>
            <td>{{ s.date }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
